.countries{
    fill: #F0F8FF;
    stroke: #000000;
    stroke-width: .5px;
}
.mystates {
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}
.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

.map {
    border: medium solid #708090;
    margin: 10px 0 0 20px;
}
.gratBackground {
    fill: #D5E3FF;
}

.chart {
    float: right;
    margin: 7px 20px 0 0;
}

.chartTitle {
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    fill: #2F4F4F;
}

.chartBackground {
    fill: #F0F8FF;
}

.chartFrame {
    fill: none;
    stroke: #708090;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #708090;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 1em;
    fill: #708090;
}